body {
    background-color: #b8f7c1; 
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .title {
    text-align: center;
    margin-bottom: 50px;
    
  }
  
  .title span:first-child {
    font-family: 'Brush Script MT', cursive;
    font-size: 130px;
    color: #000;
    display: block;
  }
  
  .title span:last-child {
    font-family: 'Arial Black', sans-serif;
    font-size: 50px;
    color: #4CAF50;
    -webkit-text-stroke: 1px #000;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  
  label {
    align-self: flex-start;
    font-weight: bold;
    margin-top: 5px;
  }
  
  input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #eafbee;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #34a853;
    color: rgb(255, 255, 255);
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    max-width: 250px;
  }

  .btn-entrar{
    color: #ccc;
  }
  
  a {
    color: #34a853;
    text-decoration: none;
    font-size: 14px;
  }
  
  p {
    margin-top: 10px;
    font-size: 14px;
  }
  